.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/.idea/*
*.xml
*.NAME
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
/nbproject/

.idea/workspace.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
.idea/workspace.xml
assets/images/profile/*.jpg
.imdone
