table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  .center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.colspan
{
	text-align:center;
	color:#fff;
	vertical-align:middle !important;
	font-size: 12px;
}
tr
{
	height: 20px;
}