/* alert box css */

#dialogoverlay{
	display: none;
	opacity: .5;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #333;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #333;
	width:400px;
	border-radius: 7px;
	overflow: hidden;
	box-shadow: 0px 0px 10px #eee;
	border: 1px solid #eee;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; }
#dialogbox > div > #dialogboxhead{ background: #333; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#eee; padding:20px; color:#333; }
#dialogbox > div > #dialogboxfoot{ background: #eee; padding:10px; text-align:right; }

/*------------------------------------------------------------------------------------------------*/

.search_link {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 5px 20px;
}

.search_link:hover {
	text-decoration: none;
	color: #fff;
}


.header{
	/*background: linear-gradient( #8D3646, #8D3646 ,#8D3646 ,#CA4C62);*/
	background-color: #026341;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: -20px;
}

.jumbotron{
	background-color: transparent;
}

.login{
	padding: 5px 20px 5px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #FFFFe5;
	border-radius: 4px;
	box-shadow: 0px 0px 10px #fff;
}

.main-body{
	margin-top: 60px;
}

.nav-head{
	width: 100%;
	background-color: green;
	float: left;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	height: 60px;
	border: none;
}

#prog{
	display: none;
}

.img-logo{
	width: 40px;
	height: 40px;
	float: left;
	margin-top: 10px;
	box-shadow: 0px 0px 10px #fff;
	border-radius: 25px 25px 25px 25px;
	margin-left: 10px;
}

.top-sign{
	margin-top: 5px;
}

.top-sign2{
	margin-top: 20px;
}

.hd-title{
	float: left;
	margin-top: 10px;
}

.start{
	color: #eee;
}

.welcome{
	color: #fff;
}

.navbar{
	border-radius: 0px;
}

.sign{
	color: #026341
}

.bg-panel{
	background-color: #FFFFC5;
	border-radius: 0px;
	border: none;
	padding-top: 20px;
}

hr{
	border: none;
	height: 1px;
	width: 100%;
	background-color: #999;
	box-shadow: 0px 0px 2px #999;
	margin-top: 0px;
}

.profile_pic{
	width: 30px;
	height: 30px;
	border: 1px solid #999;
	box-shadow: 0px 0px 10px #999;
}

.profile-main{
	width: 200px;
	height: 200px;
	box-shadow: 0px 0px 10px #999;
	border: 5px solid #eee;
	margin-bottom: 10px;
	float: right;
}

.profile-main2{
	width: 200px;
	height: 200px;
	box-shadow: 0px 0px 10px #999;
	border: 5px solid #eee;
	margin-top: 25px;
}

.profile-modal{
	width: 299px;
	height: 299px;
	box-shadow: 0px 0px 10px #999;
	border: 1px solid #eee;
}

.lbl-min{
	font-weight: bold;
}

.pad-bottom-10{
	padding-bottom: 10px;
}

.text-main-16{
	font-size: 16px;
	font-weight: bold;
	color: #666666;
}

.add-label{
	color: #033700;
}

.add-label2{
	color: #033700;
	margin-top: 15px;
}

.navbar-collapse{
	padding: 0px;
}

body{
	background-color: #FFFFC5;
	font-family: calibri;
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
}

.a-table{
	padding: 5px;
}

th, td{
	background-color: #fff;
}

.menu{
	color: #F8FF9E;
	width: 100%;
	float: left;
	margin: 0px;
	padding: 10px 0px 10px 10px;
	font-size: 16px;
	background-color: #749C7D;
}

.title{
	color: #FFFF6F;
}

.title:hover{
	color: #fff;
	text-decoration: none;
}

.a-delete{
	color: #990303;
}

.a-edit{
	color: #E5A305;
}

.a-course{
	color: #3C6BA3;
}

.search{
	overflow: hidden;
}

.a-delete:hover, .a-edit:hover, .a-course:hover{
	color: #999;
	text-decoration: none;
}

.menu:hover{
	color: #004004;
	text-decoration: none;
	background-color: #93C396;
}

.list-group-item{
	overflow: hidden;
	padding: 0px;
}

th{
	/*background-image: url(../images/th.png);*/
	background-image: linear-gradient( #8EB891, #799F7C, #698A6B);
	color: #eee;
}

h3{
	font-size: 20px;
	margin-top: 10px;
	color: #555;
}

.panel{
	margin-top: 10px;
	background-color: #F0FBF0;
}

.panel-heading, .menu-heading{
	background-color: #2F5836;
}

.list-group-item{
	background-color: #696969;
	border-radius: 0px;
	border-left: none;
	border-right: none;
}

.sub-menu{
	display: none;
	padding: 0px;
	font-size: 14px;
	text-indent: 10px;
	text-decoration: none;
}

.subtitle{
	color: #bbb;
}

.list-group-item:hover > .sub-menu{
	display: inline;
}

.sub-menu{
	list-style: none;
}

.head-td{
	color: #FFFF6F !important;
	text-align: center !important;
	background-color: #2F5836 !important;
}

h4{
	color: #FFFF6F;
}

.p-body{
	min-height: 400px;
	margin-bottom: 30px;
}

.main-body{
	padding: 1;
}

h2{
	color: #fff;
	padding: 0px 0px 0px 10px;
}

.required{
	color: #FF3939;
	font-weight: normal;
	margin-left: 10px;
}

.add-course{
	margin-bottom: 10px;
}

.close-modal{
	margin: 5px;
}

.menu-hide{
	margin-top: 8px;
	border: none;
}

.optional{
	color: #188B00;
	font-weight: normal;
	margin-left: 10px;
}

.body-container{
	margin-bottom: 20px;
}

.pic-con{
	background-color: #eee;
	padding: 20px;
}

.det{
	background-color: #ccc;
	padding-top: 20px;
	margin-top: -20px;
}

.top-sy{
	color: #fff;
	float: right;
	margin-left: 20px;
}

.scan{
	min-height: 200px;
}

.hr-bottom{
	margin-top: 20px;
	margin-bottom: 0px;
}

.upload-photo{
	margin-top: 10px;
	width: 200px;
}

td.tbl-header{
	background-color: #D0FFCE;
}

td.tbl-header-main{
	background-color: #6EC76A;
}

.hr-middle{
	margin: 10px 0px 10px 0px;
}

.side-bar-menu{
	position: fixed;
	left: 0px;
	padding: 0;
	top: 40;
	height: 100%;
	background-color: #749C7D;
}

.logout{
	color: #fff;
}

.footer{
	margin: 0;
	background-color: #033700;
	position: fixed;
	padding: 3;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.foot-link{
	color: #fff;
	font-size: normal;
}

.foot-link:hover{
	color: #ffff6f;
	font-size: normal;
}

.text-center{
	text-align: center;
	float: left;
	width: 100%;
	margin-top: 5px;
	color: #fff;
	font-style: normal;
	font-family: arial narrow;
}

.login-pic{
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

.instructor, .input-grade{
	padding: 0;
	margin: 0;
	height: 25px;
}

.lbl-data{
	font-weight: normal;
	min-width: 250px;
	font-size: 18px;
	padding-top: 10px;
}

.strong{
	width: 100px;
	font-size: 18px;
	padding-top: 10px;
}

.tblNum{
	text-align: right;
}

.tblCenter{
	text-align: center;
	padding: 5px;
}

.col-bg{
	background-color: #fff;
}

.small-box{
	width: 80px;
}

.normal{
	width: 100%;
}

.td-normal{
	padding: 3px 20px;
	width: 12.5%;
}

.input-enrol{
	padding: 3;
	text-align: right;
	font-size: 20px;
}

.input-id{
	padding: 3;
	text-align: left;
	font-size: 20px;
}

.td-total{
	font-size: 18px;
	background-color: #33dd33;
}


/* typeahead */

.tt-dropdown-menu {
    width:190px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    z-index: 1000;
}
.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}
.tt-suggestion {
    font-size: 14px;
    line-height: 15px;
    border-bottom: 1px solid;
    cursor: pointer;
}

.no-space{
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}
.colspan
{
	text-align:center;
	color:#fff;
	vertical-align:middle !important;
}

.main-table-header > th{
	background: green;
}

#alert2{
	display: none;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

/* bootstrap card */


.card {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: .25rem;
}

.card-block {
  padding: 1.25rem;
}

.card-title {
  margin-bottom: .75rem;
}

.card-subtitle {
  margin-top: -.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-radius: .25rem .25rem 0 0;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-radius: 0 0 .25rem .25rem;
}

.card-header {
  padding: .75rem 1.25rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

.card-header:first-child {
  border-radius: .25rem .25rem 0 0;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.card-footer:last-child {
  border-radius: 0 0 .25rem .25rem;
}

.card-primary {
  background-color: #0275d8;
  border-color: #0275d8;
}

.card-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.card-info {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.card-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.card-danger {
  background-color: #d9534f;
  border-color: #d9534f;
}

.card-primary-outline {
  background-color: transparent;
  border-color: #0275d8;
}

.card-secondary-outline {
  background-color: transparent;
  border-color: #ccc;
}

.card-info-outline {
  background-color: transparent;
  border-color: #5bc0de;
}

.card-success-outline {
  background-color: transparent;
  border-color: #5cb85c;
}

.card-warning-outline {
  background-color: transparent;
  border-color: #f0ad4e;
}

.card-danger-outline {
  background-color: transparent;
  border-color: #d9534f;
}

.card-inverse .card-header,
.card-inverse .card-footer {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
  color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-blockquote > footer {
  color: rgba(255, 255, 255, .65);
}

.card-inverse .card-link:focus, .card-inverse .card-link:hover {
  color: #fff;
}

.card-blockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0;
}

.card-img {
  border-radius: .25rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img-top {
  border-radius: .25rem .25rem 0 0;
}

.card-img-bottom {
  border-radius: 0 0 .25rem .25rem;
}

@media (min-width: 544px) {
  .card-deck {
    display: table;
    table-layout: fixed;
    border-spacing: 1.25rem 0;
  }
  .card-deck .card {
    display: table-cell;
    width: 1%;
    vertical-align: top;
  }
  .card-deck-wrapper {
    margin-right: -1.25rem;
    margin-left: -1.25rem;
  }
}

@media (min-width: 544px) {
  .card-group {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .card-group .card {
    display: table-cell;
    vertical-align: top;
  }
  .card-group .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group .card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group .card:first-child .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group .card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group .card:last-child .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) .card-img-top,
  .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
    border-radius: 0;
  }
}

@media (min-width: 544px) {
  .card-columns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}
